 <p>volunteer-detailes works!</p>
<form>
   <!-- <div>
        <p>סוג התנדבות</p>
        <select  name="volunteeringType" [(ngModel)]="codeSelect">
            <option *ngFor="let item of typesOfVolunteering" [value]="item.TypeOfVolunteeringId">{{item.TypeOfVolunteeringName}}</option>
          
        </select>

         {{helpRequest.TypeOfVolunteerId}} 
    </div>-->
    
    <!-- <div>
        <p>פירוט </p>
        <input type="text" name="Details" [(ngModel)]="helpRequest.user.UserFirstName">
    </div> -->
     <div>
        <p> מתאריך</p>
        <input type="date" name="date" [(ngModel)]="helpRequest.StartDate">
    </div>
        <div>
            <p>עד לתאריך</p>
        <input type="date" name="endDate" [(ngModel)]="helpRequest.EndDate">
    </div>
    
        <div>
            <p>משעה</p>
        <input type="time" name="start-time" [(ngModel)]="helpRequest.StartHour">
    </div>

    <div>
        <p>עד שעה</p>
    <input type="time" name="end-time" [(ngModel)]="helpRequest.EndHour">
</div>
    

    </form> 
    <button (click)="myRequest()">הבקשות שלי</button>



