<p>new-help-request works!</p>
<form (ngSubmit)="newHelpRequest()">
    <div>
        <p>סוג בקשה</p>
        <select  name="requestType" [(ngModel)]="helpRequest.TypeOfVolunteerId">
            <option *ngFor="let item of typesOfVolunteering" [value]="item.TypeOfVolunteeringId">{{item.TypeOfVolunteeringName}}</option>
          
        </select>

        {{helpRequest.TypeOfVolunteerId}}
    </div>
    
    <!-- <div>
        <p>פירוט </p>
        <input type="text" name="Details" [(ngModel)]="helpRequest.UserFirstName">
    </div> -->
    <div>
        <p> מתאריך</p>
        <input type="date" name="date" [(ngModel)]="helpRequest.StartDate">
    </div>
        <div>
            <p>עד לתאריך</p>
        <input type="date" name="endDate" [(ngModel)]="helpRequest.EndDate">
    </div>
    
        <div>
            <p>משעה</p>
        <input type="time" name="start-time" [(ngModel)]="helpRequest.StartHour">
    </div>

    <div>
        <p>עד שעה</p>
    <input type="time" name="end-time" [(ngModel)]="helpRequest.EndHour">
</div>
    
   
    
       
<button  (click)="findVolunteer()">מצא מתנדב</button>
    
    </form>


    <div *ngFor="let item of typesOfVolunteering">
        <p>{{item.TypeOfVolunteeringName}}</p>
    </div>
    <button  (click)="requesterRequests()">הבקשות שלי</button>
    